@import '~bootstrap/scss/bootstrap';

.btn:active,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: 'Ubuntu', sans-serif;
  /* line-height: 1.5; */
  color: #efeff1;
  overflow: hidden;
  background-color: #1c1c1c;
}

.container-fluid.dark {
  background: url('./pictures/backgroundDark.png');
}

.container-fluid.light {
  background: url('./pictures/backgroundLight.png');
}

::-webkit-scrollbar {
  width: 0px;
}

.bg-main {
  background-color: #26262b70;
  border: #18181b solid 2px;
  border-radius: 5px;
  backdrop-filter: grayscale(0.5) opacity(0.8) blur(2px);
}

.bg-second {
  background-color: #4646492c;
  border: #18181b9f solid 2px;
  border-radius: 5px;
}

.menu-piece {
  height: 85vh;
}

.container-fluid.light .bg-main {
  background-color: #7a7a7a50;
  border: #6868688f solid 2px;
  border-radius: 5px;
  backdrop-filter: grayscale(0.5) opacity(0.8) blur(2px);
}

.container-fluid.light .bg-second {
  background-color: #4646492c;
  border: #6868688f solid 2px;
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

.btn-second {
  background-color: #4646492c;
  color: #efeff1 !important;
  border-radius: 5px;
  backdrop-filter: grayscale(1) opacity(0.9) blur(10px);
}

.btn-second:hover {
  color: #efeff1;
}

.btn-active {
  background-color: #fdbc42b4;
  color: #efeff1 !important;
  border-radius: 5px;
  backdrop-filter: grayscale(1) blur(10px);
}

.message {
  cursor: pointer;
  color: #efeff1 !important;
  text-align: left;
}
